{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container-log shadow-box">
		<form method="post">

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h2 class="h2-log shadow">CONNEXION</h2>
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="form-log">
				<label class="shadow" for="username">E-mail</label>
				<input class="shadow-box" type="email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
							<label class="shadow" for=" password">Mot de Passe</label>
			<input class="shadow-box" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
			<input class="shadow-box" type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">


			<div class="checkbox">
				<input class="shadow-box" type="checkbox" name="_remember_me" id="_remember_me">
				<label class="shadow" for="_remember_me">Se souvenir de moi</label>
			</div>


			<button class="btn1 shadow-box log-btn" type="submit">
				Se connecter
			</button>
			<div class="text-fin-log">
			<p>Pas encore de compte ? - 
			</p>
			<a href="{{ path('app_register') }}">
				<p>S'enregistrer
				</p>
			</a>
			</div>
		</div>
	</form>
</div>{% endblock %}
