{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container-log">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h2 class="h2-log">CONNEXION</h2>
			<div class="form-log">
				<label for="username">E-mail</label>
				<input type="email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
							<label for=" password">Mot de Passe</label>
			<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
			<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">


			<div class="checkbox mb-3">
				<input type="checkbox" name="_remember_me" id="_remember_me">
				<label for="_remember_me">Se souvenir de moi</label>
			</div>


			<button class="btn1" type="submit">
				Se connecter
			</button>
			<p>Pas encore de compte ? -
			</p>
			<a href="{{ path('app_register') }}">
				<p>S'enregistrer
				</p>
			</a>
		</div>
	</form>
</div>{% endblock %}
