{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<div class="container-log shadow-box">
		<h2 class="h2-log shadow">S'ENREGISTRER</h2>


		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="form-log-register">
			{{ form_row(registrationForm.nom, {
            label: 'Nom d\'utilisateur :',
            label_attr: {'class': 'shadow'},
            attr: {'class': 'shadow-box'}
        })}}
        {{ form_row(registrationForm.email, {
            label: 'E-mail :',
                        label_attr: {'class': 'shadow'},
            attr: {'class': 'shadow-box'}
        }) }}

    {{ form_row(registrationForm.plainPassword.first, {
            label: 'Mot de passe :',
                        label_attr: {'class': 'shadow'},
            attr: {'class': 'shadow-box'}
    }) }}
    {{ form_row(registrationForm.plainPassword.second, {
            label: 'Confirmer le mot de passe :',
                        label_attr: {'class': 'shadow'},
            attr: {'class': 'shadow-box'}
        }) }}


        <button type="submit" class=" register-btn btn1 shadow-box ">S'enregistrer</button>
    {{ form_end(registrationForm) }}
			<div class="text-fin-log">
				<p>Déjà un compte ? -</p>
				<a href="{{ path('app_login') }}">
					<p>Se connecter
					</p>
				</a>
			</div>
		</div>

	</div>
{% endblock %}
