{% extends 'base.html.twig' %}

{% block title %}Ajouter une liste de vocabulaire
{% endblock %}

{% block body %}
	<a href="{{path('app_accueil')}}">
		<button>Retour</button>
		</a>
	<h2>Ajouter une liste</h2>
	{{ form_start(formListe)}}
	{{ form_row (formListe.titre) }}
	{{ form_row (formListe.publicStatut) }}
	{{ form_row (formListe.langue1) }}
	{{ form_row (formListe.langue2) }}
	<input type="submit" value="Ajouter la liste">
	{{ form_end(formListe)}}
{% endblock %}
