{% extends 'base.html.twig' %}

{% block title %}Modifier une liste
{% endblock %}

{% block body %}
	<a href="{{path('app_accueil')}}">
		<button>Retour</button>
		</a>
		{{ form_start (formListe) }}
		{{ form_row (formListe.titre) }}
		{{ form_row (formListe.publicStatut) }}
		{{ form_row (formListe.langue1) }}
		{{ form_row (formListe.langue2) }}
		<input type="submit" value="Modifier la liste de vocabulaire">
		{{ form_end (formListe)}}
	{% endblock %}
