{% extends 'base.html.twig' %}

{% block title %}Modifier une liste
{% endblock %}

{% block body %}
	<div id="main-contener">
		<div class="modifier-liste-contener">
			<div class="modifier-liste-contener-entete">
				<h2>Modifier une liste</h2>
				<div class="circle-plus-button supprimer-button">
					<a href="">
						<img src="{{asset('img/retour-icon.png')}}" alt="retour">
					</a>
				</div>
			</div>
			{{ form_start (formListe) }}
			<div>
				{{ form_row (formListe.titre) }}
			</div>
			<div>
				{{ form_row (formListe.publicStatut) }}
			</div>
			<div>
				{{ form_row (formListe.langue1) }}
			</div>
			<div>
				{{ form_row (formListe.langue2) }}
			</div>

			<div
				class="edit-traduction-contener" {# formListe.traduction.vars.prototype => Permet de relier le formulaire des traductions #} {# escape('html_attr') => Permet de protéger les caractères spéciaux présent dans form.Liste.traduction.vars.prototype qui doit être du HTML (Sinon les balises se ferment) #} id="traductions" data-index="{{ formListe.traduction|length }}" data-prototype="{{ form_widget(formListe.traduction.vars.prototype)|escape('html_attr') }}">
				{# Afficher les traduction déjà existantes#}
				{% for formTrad in formListe.traduction %}
					<div class="traduction-item">
						{{ form_row(formTrad.motLangue1) }}
						{{ form_row(formTrad.motLangue2) }}
						<button type="button" class="btn-remove-traduction">
							<img src="{{asset('img/recycle-bin-icon.png')}}" alt="retour">
						</button>
					</div>
				{% endfor %}
				<button class='bouton-add-traduction' type="button" id="btn-add-traduction">Ajouter une traduction</button>
			</div>
			<div class='bouton-modifier-liste-contener'>
				<input class="bouton-modifier-liste" type="submit" value="Modifier la liste de vocabulaire">
			</div>
			{{ form_end (formListe)}}
			<div class='confirm_delete hidden shadow-box'>
				<img src="{{asset('img/attention-icon.png')}}">
				<p>Êtes-vous sûr-e de vouloir quitter ?</p>
				<p>Vos modifications ne seront pas enregistrées.</p>
				<div class='show-delete-buttons'>
					<button class='cancel_delete shadow-box'>Annuler</button>
					<a href="{{path('app_accueil')}}">
						<button class="supprimer-button supprimer-button-show-delete shadow-box">Retour à l'accueil</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
