{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<select id='select_langue' data-route="{{ path ('app_accueil') }}">
		<option value="">Tri par langue</option>
		<option value="all">Toutes les langues</option>
		{% for langue in langues %}
			<option value="{{langue.id}}">{{langue.nom}}</option>
		{% endfor %}


	</select>
	<span>Tri par ordre alphabétique</span>

	<span>Créé par moi</span>
	<span>Tri Favori</span>

	<span>Recherche par nom (Ajax)</span>

	<br>
	<button>Ajouter une liste</button>
	<br><br>
	<div class='cards-contener'>
		<button>A gauche</button>
		{% for liste in listesVocabulaire %}
			<div class="card">
				<p>Titre de la liste :
					{{liste.titre}}</p>
				<span>Langues :
				</span>
				{% for langue in liste.getLangues() %}
					<span>{{ langue.nom }}</span>
				{% endfor %}
				<p>Créateur :
					{{ liste.getCreateur().getNom() }}</p>
				<p>Statut :
					{% if liste.publicStatut %}Public{% else %}Privé
					{% endif %}
				</p>
				<span>Note :</span>
				{% if liste.getNoteTotale() %}
					{{liste.getNoteTotale()}}
				{% else %}
					<span>Pas encore de note
					</span>
				{% endif %}

				<p>Favori :
					{% if app.user in (liste.getUtilisateursQuiFav()) %}
						OUI
					{% else %}
						NON
					{% endif %}
				</p>

				<p>Meilleur Score :
					{{ liste.getBestScoreMostDifficult(app.user) }}
				</p>


				{# Changer le path plus tard #}
				<a href="{{path('app_afficher_forms', {id_liste:liste.id} )}}">
					<button>Play</button>
				</a>
				<a href="{{path('app_afficher_forms', {id_liste:liste.id} )}}">
					<button>Modifier</button>
				</a>
				<a href="{{path('app_afficher_forms', {id_liste:liste.id} )}}">
					<button>Supprimer</button>
				</a>


				<br><br>
			</div>
		{% endfor %}
		<button>A droite</button>

	</div>
	<br>
	<button>Ajouter une liste</button>

	<script>
		// Tri par langues
const selectLangue = document.querySelector('#select_langue');
selectLangue.addEventListener("change", (event) => {
const idLangue = event.target.value;
const route = selectLangue.dataset.route;

window.location.href = route + '/?id_langue=' + idLangue;
})
	</script>


{% endblock %}
