{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div id="main-contener">
		<div class="cards-contener-main shadow-box">
			{{ form_start(form, {'attr': {'id': 'recherche-form',
								'data-route': path('app_recherche') }}) }}
			<div class="options-search">
				<div class="options-search-left">
					{{ form_row(form.langue) }}
					{{ form_row(form.ordre) }}
					{{ form_row(form.statut) }}
					<div class="checkbox-input">
						<p>Créer par moi
						</p>
						{{ form_row(form.ownCreator) }}
					</div>
					<div class="checkbox-input">
						<p>Favori
						</p>
						{{ form_row(form.fav) }}
					</div>
				</div>
				<div class='circle-plus-button'>
					<a href="{{path('app_ajouter_liste')}}">
						<img src="{{asset('img/plus-icon.png')}}">
					</a>
				</div>
			</div>
			<div id="recherche-titre">{{ form_row(form.titre) }}</div>
			{{ form_end(form) }}

			<div class='cards-and-plus-button'>
				<div class="cards-contener">

					{% for liste in listesVocabulaire %}
						<div class="card shadow-box">
							<div class='en-tete-card'>

								<span class="langue">{{ liste.getLangues()[0].nom }}</span>
								{% if liste.publicStatut %}
									<div class="createur-liste">
										<img src="{{asset('img/public-statut.png')}}">
										<p>{{ liste.getCreateur().getNom() }}</p>
									</div>
								{% endif %}
								<span class="langue">{{ liste.getLangues()[1].nom }}</span>
							</div>
							<div class="titre-liste-contener">
								<p class="titre-liste shadow">
									{{liste.titre}}</p>

								<div title="Note globale, jouez pour noter vous-même" class='note-liste'>
									{% if liste.getNoteTotale() %}
										{% if liste.getNoteTotale() == 0 %}
											{% for i in range(1, 5) %}
												<img src="{{asset('img/star-empty-icon.png')}}">
											{% endfor %}

										{% elseif liste.getNoteTotale() == 1 %}

											<img src="{{asset('img/star-full-icon.png')}}">


											{% for i in range(1, 4) %}
												<img src="{{asset('img/star-empty-icon.png')}}">
											{% endfor %}

										{% elseif liste.getNoteTotale() == 2 %}
											{% for i in range(1, 2) %}
												<img src="{{asset('img/star-full-icon.png')}}">
											{% endfor %}

											{% for i in range(1, 3) %}
												<img src="{{asset('img/star-empty-icon.png')}}">
											{% endfor %}

										{% elseif liste.getNoteTotale() == 3 %}
											{% for i in range(1, 3) %}
												<img src="{{asset('img/star-full-icon.png')}}">
											{% endfor %}

											{% for i in range(1, 2) %}
												<img src="{{asset('img/star-empty-icon.png')}}">
											{% endfor %}

										{% elseif liste.getNoteTotale() == 4 %}
											{% for i in range(1, 4) %}
												<img src="{{asset('img/star-full-icon.png')}}">
											{% endfor %}

											<img src="{{asset('img/star-empty-icon.png')}}">

										{% elseif liste.getNoteTotale() == 5 %}
											{% for i in range(1, 5) %}
												<img src="{{asset('img/star-full-icon.png')}}">
											{% endfor %}

										{% endif %}

									{% else %}

										<span>Pas encore de note
										</span>

									{% endif %}
								</div>
							</div>

							<form
								method="post" action="{{ path('app_fav_toggle', { id: liste.id }) }}">
								{# TOKEN pour se protéger #}
								<input type="hidden" name="_token" value="{{ csrf_token('fav_toggle_' ~ liste.id) }}">

								{% if app.user in liste.getUtilisateursQuiFav() %}
									<img class="heart-icon" title="Cliquez pour enlever des favoris" src="{{asset('img/heart-icon.png')}}">
								{% else %}
									<img class="heart-icon" title="Cliquez pour mettre en favori" src="{{asset('img/heart-empty-icon.png')}}">
								{% endif %}

							</form>

							<p title="Ton meilleur score en difficile" class="meilleur-score">
								{% if liste.getBestScoreMostDifficult(app.user) == 'Pas encore de meilleur score'%}
									Pas encore de score
								{% else %}
									Best :
									{{ liste.getBestScoreMostDifficult(app.user) }}
									%
								{% endif %}
							</p>

							<div
								class="footer-card">
								{# Changer le path plus tard #}
								<a href="{{path('app_quizzoptions', {id_liste:liste.id} )}}">
									<div class="play-icon">
										<img class="play-img" src="{{asset('img/play-icon.png')}}">
									</div>
								</a>

								<div class='edit-and-delete'>
									<a href="{{path('app_modifier_liste', {id_liste:liste.id} )}}">
										<div class="edit-delete-icon">
											<img src="{{asset('img/edit-pen-icon.png')}}">
										</div>
									</a>
									<a href="{{path('app_supprimer_liste', {id_liste:liste.id} )}}">
										<div class="edit-delete-icon">
											<img src="{{asset('img/recycle-bin-icon.png')}}">
										</div>
									</div>


									<div class='confirm_delete hidden'>
										<p>Êtes-vous sûr-e de vouloir supprimer la liste :
											{{liste.titre}}
											?</p>
										<button class='cancel_delete'>Annuler</button>
										<a href="{{path('app_supprimer_liste', {id_liste:liste.id} )}}">
											<button class="supprimer-button">Supprimer</button>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div>
						<a href="{{path('app_ajouter_liste')}}">
							<div class="circle-plus-button button-plus-bottom">
								<img src="{{asset('img/plus-icon.png')}}">
							</div>
						</a>
					</div>
				</div>


			</div>

		</div>
	{% endblock %}
