{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<span>Tri par langues</span>
	<span>Tri par autres</span>
	<span>Tri Public/Privé</span>
	<span>Tri Favori</span>
	<span>Recherche par nom (Ajax)</span>

	<button>+</button>
	<br><br>
	<div class='cards-contener'>
		{% for liste in listesVocabulaire %}
			<div class="card">
				<p>Titre de la liste :
					{{liste.titre}}</p>
				<span>Langues :
				</span>
				{% for langue in liste.getLangues() %}
					<span>{{ langue.nom }}</span>
				{% endfor %}
				<p>Créateur :
					{{ liste.getCreateur().getNom() }}</p>
				<p>Statut :
					{% if liste.publicStatut %}Public{% else %}Privé
					{% endif %}
				</p>
				<span>Note :</span>
				{% if liste.getNoteTotale() %}
					{{liste.getNoteTotale()}}
				{% else %}
					<span>Pas encore de note
					</span>
				{% endif %}

				<p>Favori :
					{% if app.user in (liste.getUtilisateursQuiFav()) %}
						OUI
					{% else %}
						NON
					{% endif %}
				</p>

				<p>Meilleur Score :
					{{ liste.getBestScoreMostDifficult(app.user) }}
				</p>

				<button>Play</button>
				<button>Modifier</button>
				<button>Supprimer</button>


				<br><br>
			</div>
		{% endfor %}
	</div>
{% endblock %}
