<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>

			<div id="header-main">
				<a href="{{ path('app_accueil') }}"><img id="logo" src="{{ asset('img/logo.png') }}" alt="Logo"></a>
				<div>
					<div id="profil-circle" class="shadow-box"><img id="profil" src="{{ asset('img/profil.png') }}" alt="Profil">
					</div>
					{% if app.user %}
						<p class='profil-name'>{{ app.user.nom }}</p>
					{% endif %}
				</div>
				<div class="profil-pannel shadow-box hidden">
					{% if app.user is null %}
						<a href="{{ path('app_login') }}">
							<img src="{{ asset('img/seConnecter.png') }}" alt="Se connecter image">
							<span class='shadow'>se connecter</span>
						</a>
						<a href="{{ path('app_register') }}">
							<img src="{{ asset('img/sEnregistrer.png') }}" alt="S'enregistrer image">
							<span class='shadow'>s'enregistrer</span>
						</a>


					{% else %}
						<a href="{{ path('app_logout') }}">
							<img src="{{ asset('img/seConnecter.png') }}" alt="Se déconnecter image">
							<span class='shadow'>se déconnecter</span>
						</a>
					{% endif %}
				</div>

			</header>
			{# Pour pouvoir récupérer l'id de l'utilisateur connecté dans JS #}
			{% if app.user %}
				<input id="userId" value="{{ app.user.id }}" style="display:none">
			{% endif %}

			{# Message flash de succès #}
			{% for message in app.flashes('success') %}
				<div class="alert info">
					{{ message }}
				</div>
			{% endfor %}

			{% block body %}{% endblock %}
		</body>
	</body>
</html>
