<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<div id="header-main">
				<img id="logo" src="{{ asset('img/logo.png') }}" alt="Logo">
				<div id="profil-circle"><img id="profil" src="{{ asset('img/profil.png') }}" alt="Profil"></div>
			</div>
			<div class="profil-pannel">
				{% if app.user is null %}
					<img src="{{ asset('img/seConnecter.png') }}" alt="Se connecter image">
					<span>Se connecter</span>
					<img src="{{ asset('img/sEnregistrer.png') }}" alt="S'enregistrer image">
					<span>S'enregistrer</span>

				{% else %}
					<img src="{{ asset('img/seDeconnecter.png') }}" alt="Se déconnecter image">
					<span>Se déconnecter</span>
				{% endif %}
			</div>

		</header>

		{% block body %}{% endblock %}
	</body>
</html></body></html>
