{% extends 'base.html.twig' %}

{% block title %}Résultat du quizz
{% endblock %}

{% block body %}
<div id="main-contener"> 
	<a href="{{path('app_accueil')}}">
		<button>X</button>
	</a>
	<p>Score :{{score_final}}
		%
																en difficulté :
		{{p_difficulte}}</p>
	<p>Titre de la liste :
		{{liste.titre}}</p>

	{% if erreurs is empty %}
		<p>Bravo ! Vous n'avez fait aucune erreur</p>
	{% else %}
		<h2>Tes erreurs</h2>
		{% for erreur in erreurs %}
			<span>
				La question :
				{{a_traduireApresErreur[loop.index0]}}
				La bonne réponse :
				{{bonnesReponses[loop.index0]}}</span>
			Votre réponse :
			{{erreur}}
			<br>
		{% endfor %}
	{% endif %}

	{% if userNote is empty %}
		<p>Notez cette liste :
		</p>
		<span>1 2 3 4 5</span>
	{% else %}
		<p>Note :
		</p>
		<span>{{userNote}}</span>
	{% endif %}
	<p>Favori :
	</p>
	<span>oui</span>


	<a href="">
		<button>Refaire seulement les erreurs</button>
	</a>
	<a href="{{path('app_quizzoptions', {id_liste:liste.id} )}}">
		<button>Retour aux options</button>
	</a>
	<a href="{{path('app_accueil')}}">
		<button>Retour aux listes</button>
	</a>
</div>{% endblock %}
