{% extends 'base.html.twig' %}

{% block title %}Quizz
{% endblock %}

{% block body %}
	<div id="main-contener">
		<div class="questions-contener">
			<div class="quizz-entete">
				<h2>
					{{liste.titre}}</h2>
				<a href="{{path('app_accueil')}}">
					<div class="circle-bouton-close">
						<img src="{{ asset('img/close-icon.png') }}" alt="Retour">
					</div>
				</a>
			</div>
			<div class="quizz-question-info">
				<p>
					{{i_question + 1}}
					/
					{{liste.traduction.count()}}
					mots</p>
				<p>Difficulté :
					{{p_difficulte}}</p>
				<p>Score :
					{{scoreEnPourcentage}}
					%</p>
				<p>Langue cible :
					{{langue_cible}}</p>
				{% if majStatut == true %}
					<p>(les majuscules sont importantes)</p>
				{% endif %}
			</div>
			<p class='a-traduire'>{{a_traduire}}</p>
			{# <div class='special-caracteres'>
							{% for carac in specialCaractere %}
								{{carac}}
							{% endfor %}
						</div> #}
			{{form_start(Reponseform)}}
			{{form_widget(Reponseform)}}
			<div class="boutons-questions">
				<button type="submit">
					Passer
				</button>
				<button type="submit">
					Valider
				</button>
				{{form_end(Reponseform)}}
			</div>
		</div>
	</div>
{% endblock %}
